@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap');

body {
  box-sizing: border-box;
  background: #5C07E2;

}

/* Делаю 320*568*/
div {
  height: 100vh;
  width: 100vw;
  padding: 60px 35px;
}
.h {
  width: 251px;
}
p {
  color: #ff0000;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 107%;

}
